{% extends 'base.html' %}
{% load math_filters %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center">
        Catalog of products
    </h1>
    {% if length > 0 %}
        <h3 class="text-center">Products found: {{ length }}</h3>
    {% else %}
        <h3 class="text-center">No products found</h3> 
    {% endif %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for product in products %}
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <img src="{{product.image_path|default:'https://assets.turbologo.com/blog/en/2021/09/10094210/product-photo-1.png'}}" 
                    alt="{{product.name}}" class="card-img-top"> 
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ product.name }}
                        </h5>
                        {% if product.discount %}
                            <span class="text-success">
                                ${{ product.price|calculate_discount:product.discount }}
                            </span>
                            <span class="text-muted text-decoration-line-through">
                                ${{ product.price }}
                            </span>
                        {% else %}
                             <span class="text-success">
                                ${{ product.price }}
                             </span>   
                        {% endif %}
                        <div class="product-rating">
                            {% for i in "12345" %} 
                                {% if forloop.counter <= product.rating %}
                                    <i class="bi bi-star-fill text-warning"></i>
                                {% else %}
                                    <i class="bi bi-star text-muted"></i>
                                {% endif %} 
                            {% endfor %}
                        </div>
                        {% if not product.available %}
                            <small class="text-muted">
                                Not available
                            </small>
                        {% endif %}
                        <a href="{% url 'shop:product_details' product.id%}" class="btn btn-primary">More</a>
                    </div>
                </div>
            </div>
        {% endfor %}
</div>
{% endblock %}
